@model Okta_Web.Models.Root
@{
}
<style>
    .switch {
        position: relative;
        display: inline-block;
        width: 33px;
        height: 20px;
    }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

        .slider:before {
            position: absolute;
            content: "";
            height: 17px;
            width: 21px;
            left: 1px;
            bottom: 2px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

    input:checked + .slider {
        background-color: #3ea7c9;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(10px);
        -ms-transform: translateX(10px);
        transform: translateX(10px);
    }

    .slider.round {
        border-radius: 34px;
    }

        .slider.round:before {
            border-radius: 50%;
        }
</style>
    <p>
        <a asp-action="CreateUser">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Created</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model?.MyArray)
            {
            <tr>
                <td>@item.profile?.firstName</td>
                <td>@item.profile?.lastName</td>
                <td>@item.profile?.email</td>
                <td>@item.created</td>
                <td><label class="switch" title="Activate/Deactivate User"><input id="chkbx_@item.id" class="activateDeactivateUserChkBx" data-userid="@item.id"><span class="slider round"></span></label></td>
            </tr>
            }
        </tbody>
    </table>    
